html {
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #e1e1e1;
    position: relative;
    margin: 0;
    padding-bottom: 60px;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 40px;
    background-color: #3c3c3c;
    color: #d7d7d7;
}

pre {
    text-align: left !important;
}